@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

body,
html {
  @apply bg-brand-900 text-zinc-200;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

section {
  @apply px-4 lg:px-32 xl:px-72;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: rgb(30, 70, 112);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(4, 189, 149);
}
